
:root{
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
  padding: 1rem;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.container {
  width: 90%;
  margin-inline: auto;
  max-width: 1920px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
