@import "../abstracts/variables";
@import "./media-queries";

.allproducts {
  position: relative;
  h2 {
    margin-top: 70px;
  }

  .all-container {
    display: flex;
    padding: 0 20px;
    width: 100%;
    @include mobile {
      flex-direction: column;
    }

    h2 {
      font-size: 50px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 300;
      color: $color-black-light;
    }

    p {
      margin-top: 10px;
    }

    hr {
      width: 60%;
      background-color: $color-gray-light;
      height: 1px;
      margin-top: 100px;
    }

    .filter {
      padding: 20px 0;

      .categories {
        width: 170px;
        h3 {
          margin-top: 10px;
          color: $color-purple;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 700;
        }

        ul {
          margin-top: 10px;
          @include mobile {
            display: flex;
            flex-direction: row;
          }

          li {
            margin-top: 20px;
            color: $color-black-light;
            cursor: pointer;
            @include mobile {
              margin: 0 7px;
            }

            button:hover {
              color: $color-purple;
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .allproducts-content {
      position: relative;
      margin-top: 30px;

      .product-cart {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
