@import "../abstracts/variables";
@import './media-queries';

.banner-container {
  margin-top: 55px;
  overflow: hidden;
  @include widthHeight(100%,auto);

  .banner {
    position: relative;
    @include widthHeight(100vw,650px);

    .banner-main {
      display: flex;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 1000ms;
      @include widthHeight(400vw,100%);
      @include mobile {
        width: 100vw;
      }

      img {
        object-fit: cover;
        @include widthHeight(100%,100%);
      }
    }

    .arrow-section {
      display: flex;
      position: absolute;
      width: fit-content;
      left: 0;
      right: 0;
      bottom: 5rem;
      margin: 0 auto;
      gap: 2rem;

      .arrow-left,
      .arrow-right {
        border: 2px solid $color-gray-light;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 300ms;
        color:$color-white;
        @include widthHeight(3.5rem,3rem);

        &:hover {
          cursor: pointer;
          background-color: $color-gray-dark;
          color: $color-black;
        }

        &:active {
          background-color: $color-purple;
        }
      }
    }
  }
}
