@import "../abstracts/variables";
@import "./media-queries";

.benefits {
  margin-top: 100px;
  padding: 0 50px;
  width: 100%;

  @include mobile {
    margin-top: 10px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }

  @include tablet {
    justify-content: space-around;
  }

  .container-box {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      justify-content: center;
    }
    @include tablet {
flex-wrap: wrap;
      justify-content: space-around;
    }

    .box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-items: center;
      padding: 10px 20px;
      display: flex;
      background-color: $color-blue;
      width: 300px;
      height: 100px;
      border-radius: 5px;
      @include mobile {
        margin-bottom: 15px;
      }
      @include tablet {
       margin-bottom: 20px;
            }
    
      .icon {
        color: $color-white;
        font-size: 40px;
        @include tablet {
          font-size: 30px;
        }
      }

      .detail {
        h3 {
          color: $color-black-light;
          @include tablet {
            font-size: 15px;
          }
        }
        p {
          font-size: 15px;
          color: $color-white;
          @include tablet {
            font-size: 14px;
          }
        }
      }
    }
  }
}
