@import "../abstracts/variables";

.shopping-favorite {
  text-align: center;
  display: flex;
  justify-content: center;

  .emptyfavorite {
    margin-top: 15rem;
    h2 {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 3rem;
      letter-spacing: 5px;
    }

    .empty-btn {
      margin-top: 30px;
      padding: 10px 20px;
      background-color: $color-blue;
      border-radius: 10px;

      &:hover {
        background-color: $color-yellow;
        transition: 0.2s;
      }
    }
  }

  .favorite-items {
    margin-top: 7rem;
    width: 50%;
    padding-right: 2.5rem;

    .favorite-main {
      width: 100%;
    }

    h2 {
      margin-left: 15px;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .favorite-products {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      margin-top: 3rem;
      border-bottom: 1px solid $color-gray-medium;
      padding-bottom: 10px;

      .close-icon {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: $color-gray-dark;
        margin-right: 1rem;

        &:hover {
          color: $color-red;
          cursor: pointer;
          transition-duration: 300ms;
        }
      }

      img {
        width: 8rem;
        height: 9.5rem;
      }

      .favorite-content {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      h4 {
        font-weight: 500;
        width: 13rem;
      }

      p {
        width: 2.5rem;
      }

      .add-cart {
        background: $color-blue;
        font-size: 14px;
        color: $color-white;
        margin-left: 2rem;
        padding: 0.5rem 1rem;
        transition-duration: 300ms;
        border-radius: 5px;

        &:hover {
          background: $color-blue-dark;
        }
      }
    }

    .buttons-footer {
      display: flex;
      margin-top: 50px;
      align-items: center;

      .go-shop {
        font-size: 13px;
        cursor: pointer;
        color: $color-gray-dark;
        margin-left: 4px;
        
      }

      .arrow-icon {
        color: $color-gray-dark;
        margin-top: 5px;
      }

      .reset {
        background: $color-red;
        font-size: 14px;
        color: $color-white;
        margin-left: 2rem;
        padding: 0.5rem 1rem;
        transition-duration: 300ms;
        border-radius: 5px;

        &:hover {
          background: $color-black;
        }
      }
    }
  }
}
