@import "../abstracts/variables";

.shopping-favorite {
  margin-top: 90px;
  text-align: center;
  display: flex;
  justify-content: center;

  .emptyfavorite {
    h2 {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .empty-btn {
      margin-top: 30px;
      padding: 10px 20px;
      background-color: $color-blue;
      border-radius: 10px;

      &:hover {
        background-color: $color-yellow;
        transition: 0.2s;
      }
    }
  }

  .favorite-container {
    text-align: center;

    .content {
      max-width: 100%;
      padding: 20px 30px;

      .favorite-item {
        padding: 20px 30px;
        display: flex;
        justify-content: space-around;
        background-color: $color-white;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid $color-purple;
        width: 700px;

        .image-box {
          padding: 20px 30px;

          img {
            width: 150px;
            height: 180px;
          }
        }

        .detail {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          padding: 20px 30px;

          .info {
            h4 {
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: 1.5px;
              color: $color-gray-dark;
            }

            h3 {
              margin-top: 20px;
              font-size: 16px;
              letter-spacing: 1px;
            }

            p {
              margin-top: 20px;
              letter-spacing: 1px;
              color: $color-purple;
              font-weight: 500;
            }
          }
          .addtocart {
            button {
              margin-top: 30px;
              padding: 10px 20px;
              background-color: $color-blue;
              border-radius: 10px;
              color: $color-white;

              &:hover {
                background-color: $color-yellow;
                transition: 0.2s;
              }
            }
          }
        }

        .close {
          .close-icon {
            font-size: 22px;
          }

          button:hover {
            border: none;
            outline: none;
            color: $color-red;
            cursor: pointer;
          }
        }
      }
    }
  }
}
