@import "../abstracts/variables";
@import "./media-queries";

.shopping-favorite {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    justify-content: center;
  }
  @include tablet {
    justify-content: space-around;
  }

  .emptyfavorite {
    margin-top: 15rem;
    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 3rem;
      letter-spacing: 5px;
      @include mobile {
        font-size: 20px;
      }
    }

    .empty-btn {
      margin-top: 30px;
      padding: 10px 20px;
      background-color: $color-blue;
      border-radius: 10px;

      &:hover {
        background-color: $color-yellow;
        transition: 0.2s;
      }
    }
  }

  .favorite-items {
    margin-top: 7rem;
    padding-right: 2.5rem;

    .favorite-main {
      width: 100%;
      @include mobile {
        display: flex;
      }
      .favorite-products {
        gap: 1.5rem;
        margin-top: 3rem;
        border-bottom: 1px solid $color-gray-medium;
        padding-bottom: 10px;
        margin-left: 12px;
        @include flexAlign(space-between);

        @include mobile {
          gap: 1rem;
        }

        @include tablet {
          justify-content: space-around;
        }
        .add-cart {
          margin-left: 2rem;
          padding: 0.5rem 1rem;
          transition-duration: 300ms;
          @include buttonStyle(14px,$color-white,$color-blue,5px);
          @include mobile {
            font-size: 10px;
            padding: 0.5rem 1rem;
            margin-left: 1.5rem;
          }
          @include tablet {
            margin-left: 0.5rem;
            font-size: 12px;
          }

          &:hover {
            background: $color-blue-dark;
          }
        }
      }

      .favorite-content {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        @include mobile {
          width: 8rem;
        }
        @include tablet {
          justify-content: space-around;
        }
      }
    }

    h2 {
      margin-left: 15px;
      font-size: 1.5rem;
      line-height: 2rem;

      @include mobile {
        font-size: 1.1rem;
      }
    }

    .close-icon {
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: $color-gray-dark;
      margin-right: 1rem;
      @include mobile {
        margin-right: 0.5rem;
        margin-left: 1rem;
      }

      &:hover {
        color: $color-red;
        cursor: pointer;
        transition-duration: 300ms;
      }
    }

    img {
      @include widthHeight(8rem,9.5rem);
      @include mobile {
        width: 5rem;
        height: 6rem;
        @include widthHeight(5rem,6rem);
      }
    }

    h4 {
      font-weight: 500;
      width: 13rem;
      @include mobile {
        font-size: 15px;
        width: 8rem;
      }
    }
  }

  .buttons-footer {
    display: flex;
    margin-top: 50px;
    align-items: center;

    @include mobile {
      display: block;
      margin-top: 30px;
    }

    .go-shop {
      font-size: 13px;
      cursor: pointer;
      color: $color-gray-dark;
      margin-left: 4px;
      @include mobile {
        margin-bottom: 20px;
      }
    }

    .arrow-icon {
      color: $color-gray-dark;
      padding-top: 5px;
      @include mobile {
        padding-top: 15px;
      }
    }

    .reset {
      margin-left: 2rem;
      padding: 0.5rem 1rem;
      transition-duration: 300ms;
      @include buttonStyle(14px,$color-white,$color-red, 5px);
      @include mobile {
        margin-top: 10px;
      }

      &:hover {
        background: $color-black;
      }
    }
  }
}
