@import "../abstracts/variables";
@import "./media-queries";

.menu {
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 300px;

    @include mobile {
      display: none;
    }
    @include tablet {
      width: 250px;
      font-size: 14px;
      margin: 0 30px;
    }
  }

  li {
    font-weight: 500;

    @include mobile {
      color: white;
      text-align: center;
      padding: 22px;
      width: 100%;
      transition: all 0.5s ease;
    }
  }

  .nav-links-mobile {
    display: flex;
    justify-content: space-around;
    width: 300px;

    @include mobile {
      position: absolute;
      display: block;
      list-style: none;
      background: $color-purple;
      left: 0;
      top: 47px;
      transition: all 0.5s ease-out;
      width: 100%;
    }
  }

  .mobile-menu-icon {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      font-size: 25px;
      color: $color-purple;
      border: none;
      top: 15px;
      right: 20px;
    }
  }
}
