@import "../abstracts/variables";

.product-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  @include flexAlign(center);

  .detail-container {
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    max-width: 600px;
    @include widthHeight(90%, 380px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    .btn-close {
      position: absolute;
      top: 10;
      right: 20px;

      .icon {
        font-size: 25px;
        &:hover {
          color: $color-red;
        }
      }
    }

    .productbox {
      margin-top: 30px;
      @include flexAlign(space-around);

      .img-box {
        img {
          border-radius: 4px;
          @include widthHeight(200px, 250px);
        }
      }

      .detail {
        margin-left: 30px;

        h4 {
          color: #888;
          font-size: 14px;
          margin-bottom: 10px;
          margin-top: 15px;
        }

        h2 {
          font-size: 18px;
          margin-bottom: 15px;
        }

        h3 {
          color: $color-blue;
          font-size: 16px;
          margin-bottom: 20px;
        }

        button {
          border: none;
          padding: 8px 10px;
          @include buttonStyle(16px, $color-white, $color-blue, 4px);

          &:hover {
            background-color: $color-blue-light;
            transition: 0.5s;
            transform: scale(1.1);
          }
        }
        p {
          color: #1adb21;
        }
      }
    }
  }
}
