@import "../abstracts/variables";

.item-card {
  width: 400px;
  height: 510px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 20px;
  border: 2px solid $color-blue;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
  border-radius: 10px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .card-icons {
      transform: translateX(0);
    }
  }

  img {
    width: 200px;
    height: 250px;
    max-width: 15rem;
  }

  h5 {
    font-weight: 500;
    margin: 1rem 0 1rem;
    font-size: 14px;
    text-transform: capitalize;
    color: $color-black;
  }

  p {
    color: $color-gray-dark;
    text-transform: capitalize;
    font-size: 13px;
    margin-top: 0.7rem;
  }

  .price {
    text-align: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
    letter-spacing: 1px;
    color: $color-purple;

    span {
      font-weight: 600;
    }
  }

  .rating {
    margin-top: 0.5rem;
    font-size: 1rem;

    a {
      color: $color-yellow;
    }
  }

  .card-buttons {
    margin-top: 15px;
    .btn {
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize;
      padding: 8px 12px;
      letter-spacing: 0;
      background-color: $color-blue;
      color: $color-white;
      border-radius: 10px;
      margin-top: 0.5rem;

      &:hover {
        background-color: $color-yellow;
        color: $color-purple;
        border: 1px solid $color-gray-medium;
        transition: 0.2s;
      }
    }

    .buttons-box {
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-items: center;

      span {
        font-size: 20px;
      }
      .inc-dec {
        font-size: 15px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 4px 12px;
        letter-spacing: 0;
        background-color: $color-blue;
        color: $color-white;
        border-radius: 10px;
        margin: 0 15px;
        &:hover {
          background-color: $color-yellow;
          color: $color-purple;
          border: 1px solid $color-gray-medium;
          transition: 0.2s;
        }
      }
      .trash {
        font-size: 26px;
        margin-right: 8px;
        margin-top: -2px;
        color: $color-blue;
        cursor: pointer;
        &:hover {
          color: $color-yellow;

          transition: 0.2s;
        }
      }
    }
  }

  .card-icons {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    transform: translateX(200%);
    transition: all 0.2s;

    a {
      font-size: 1.1rem;
      color: $color-white;
      padding: 0.4rem;
      line-height: 1;
      border: 1px solid $color-yellow;
      border-radius: 10px;
      border-color: $color-blue;
      background: $color-blue;

      &:hover {
        border-color: $color-yellow;
        background: $color-yellow;
        color: $color-gray-dark;
      }
    }

    .eye-icon {
      font-size: 1.3rem;
    }
  }
}
