@import "../abstracts/variables";
@import "./media-queries";

.categories {
  h1 {
    text-align: center;
    color: $color-purple;
    padding: 40px;
    font-size: 40px;
  }

  .categories-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 100%;

    .categories-card {
      h2 {
        color: $color-black-light;

        padding-top: 10px;
        @include mobile {
          font-size: 15px;
        }
      
      }

      .img-box {
        height: 210px;
        width: 210px;
        background-color: $color-gray-light;
        overflow: hidden;
        border-radius: 50%;
        margin: 5px;
        @include mobile {
          width: 100px;
          height: 110px;
        }
        @include tablet {
          width: 140px;
          height: 140px;
        }

        img {
          height: 150px;
          width: 140px;
          align-items: center;
          max-width: 100%;
          justify-content: center;
          margin-top: 25px;
          &:hover {
            transform: scale(1.1);
            transition: 0.2s;
          }

          @include mobile {
            width: 60px;
            height: 70px;
            margin-top: 20px;
          }
          @include tablet {
            width: 80px;
            height: 90px;
          }
        }
      }
    }
  }
}
