@import "../abstracts//variables";

.categories {
  .title {
    text-align: center;
  }

  .categories-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 100%;

    .categories-card {
      cursor: pointer;

      .img-box {
        height: 210px;
        width: 210px;
        background-color: $color-gray-light;
        overflow: hidden;
        border-radius: 100px;

        img {
          height: 140px;
          width: 140px;
          align-items: center;
          max-width: 100%;
          justify-content: center;
          margin-top: 25px;
          transition: 0.5s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
