@import "../abstracts/variables";
@import "./media-queries";

.categories {
  h1 {
    text-align: center;
    color: $color-purple;
    padding: 40px;
    font-size: 40px;
    @include mobile {
      font-size: 25px;
    }
  }

  .categories-container {
    max-width: 100%;
    @include flexAlign(space-around);

    .categories-card {
      h2 {
        color: $color-black-light;
        &:hover {
          color: $color-yellow;
          transform: scale(1.1);
          transition: 0.2s;
        }
        @include mobile {
          font-size: 14px;
        }
      }

      .img-box {
        background-color: $color-gray-light;
        overflow: hidden;
        border-radius: 50%;
        margin: 5px;
        @include flexAlign(center);
        @include widthHeight(180px,180px);

        &:hover {
          border: 1px solid $color-yellow;
        }
        @include mobile {
          width: 90px;
          height: 100px;
        }
        @include tablet {
          width: 140px;
          height: 140px;
        }
      }
    }
  }
}

.product-category-container {
  margin-top: 90px;

  .arrow-shop {
    .go-shop {
      color: $color-gray-medium;
      text-decoration: underline;

      &:hover {
        color: $color-black-light;
      }
    }
  }
  .product-cart-category {
    flex-wrap: wrap;
    @include flexAlign(space-around);
  }
}
