@import '../../styles/variables';

.tn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;

    .logo{
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: uppercase;
        padding: 0 0.4rem;
        letter-spacing: 0.1rem;
        color:$color-purple;
        border-radius: 10px;
    }

    .search-box{
        width: 555px;
        border: 2px solid $color-yellow;
        padding: 0.5rem 1rem;
        @extend %align-center;
        border-radius: $border-radius-50;

        input{
         width: 100%;
         display: block;

         &::placeholder{
            font-size: 12px;
         }

         &::-webkit-search-cancel-button{
            -webkit-appearance: none;
        }
        }

        .search-icon{
            color: $color-purple;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .tn-icons{
        display: flex;
        gap: 1rem;

        a{
            font-size: 1.3rem;
        }
        
        .fav-icon,
        .cart-icon{
            position: relative;
            color: $color-purple;
        }

        .count {
            position: absolute;
            top: -0.6rem;
            right: -0.6rem;
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 1;
            padding: 2px 4px;
            border-radius: 3px;
        }
    }
    hr{
        background-color: $color-gray;
        height: 0.05rem;
        width: 100%;
        border: none;
        outline: none;
        margin-bottom: 0.5rem;
    }

}

.bn-container{
    @extend %align-center;

    .navlist{
        display: flex;
        gap: 2.5rem;
        text-transform: capitalize;
        z-index: 111;
        pad: 0.5rem 0;

       li a {
            font-weight: 600;
            color: $color-black;

           li a:hover{
            color: $color-purple;
            }

           li a::after{
                content:"";
                position: absolute;
                bottom: -0.5rem;
                left: 0;
                height: 0.15rem;
                width: 0%;
                border-radius: 10px;
                background-color: $color-blue;
                }
            li a:hover::after{
                width: 100%;
                }



        }
    }
}