@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
  padding: 1rem;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.container {
  width: 90%;
  margin-inline: auto;
  max-width: 1920px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
}

header .tn-container .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #dddddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 0;
}
header .tn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
  width: 90%;
  margin-inline: auto;
  max-width: 1920px;
}
header .tn-container .logo {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  padding: 0 0.4rem;
  letter-spacing: 0.1rem;
  color: #4338ca;
  border-radius: 10px;
}
header .tn-container .search-box {
  position: relative;
  width: 450px;
  border: 2px solid #ffe600;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin-left: 50px;
}
header .tn-container .search-box input {
  width: 100%;
  font-size: 13px;
  height: 26px;
  border: none;
  outline: none;
  border-radius: 30px;
}
header .tn-container .search-box input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
header .tn-container .search-box .search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  width: 43px;
  height: 41px;
  position: absolute;
  border: none;
  top: 0px;
  right: 0;
  transform: scale(0.9);
  border-radius: 50px;
  background-color: #ffe600;
}
header .tn-container .search-box .search-icon .srch {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #4338ca;
}
@media (max-width: 768px) {
  header .tn-container .search-box .search-icon {
    position: absolute;
  }
}
header .tn-container .tn-icons {
  display: flex;
  gap: 1rem;
}
header .tn-container .tn-icons a {
  font-size: 1.3rem;
}
header .tn-container .tn-icons .fav-icon,
header .tn-container .tn-icons .cart-icon {
  position: relative;
  color: #4338ca;
}
header .tn-container .tn-icons .fav-icon:hover,
header .tn-container .tn-icons .cart-icon:hover {
  color: #ffe600;
}
header .tn-container .tn-icons .count {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  padding: 2px 4px;
  border-radius: 3px;
}
header .tn-container .tn-icons .cart-user {
  display: flex;
  color: #4338ca;
  font-size: 1.3rem;
  font-weight: 500;
}
header .tn-container .tn-icons .cart-user .user {
  margin-left: 5px;
  font-size: 15px;
}
header .tn-container .hamburger-menu {
  font-size: 2.5rem;
  display: none;
}
header .tn-container .favorite .tooltiptext,
header .tn-container .cart .tooltiptext,
header .tn-container .login .tooltiptext,
header .tn-container .logout .tooltiptext {
  font-size: 14px;
  visibility: hidden;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #13c7df;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -100%;
  left: 50%;
  margin-left: -20px;
}
header .tn-container .favorite:hover .tooltiptext,
header .tn-container .cart:hover .tooltiptext,
header .tn-container .login:hover .tooltiptext,
header .tn-container .logout:hover .tooltiptext {
  visibility: visible;
}
@media (max-width: 768px) {
  header .tn-container .hamburger-menu {
    display: block;
    font-size: 20px;
    color: #4338ca;
    width: 100px;
    text-align: center;
  }
}

footer {
  background-color: #2d2c2c;
  padding: 70px 0;
  margin-top: 10rem;
  /* responsive */
}
footer .row {
  display: flex;
  flex-wrap: wrap;
}
footer ul {
  list-style: none;
}
footer .footer-col {
  width: 25%;
  padding: 0 15px;
}
footer .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffe600;
  height: 2px;
  box-sizing: border-box;
  width: 110px;
}
footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
footer .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
footer .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
footer .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
footer .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  footer .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  footer .footer-col {
    width: 100%;
  }
}

.bn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bn-container {
  flex: 1;
}
.bn-container .navlist {
  display: flex;
  gap: 2.5rem;
  text-transform: capitalize;
  z-index: 111;
}
.bn-container .navlist a {
  font-weight: 600;
  color: #000;
}
.bn-container .navlist a:hover {
  color: #4338ca;
  border-bottom: 3px solid #ffe600;
}
.bn-container .navlist a:hover::after {
  width: 100%;
}
@media (max-width: 768px) {
  .bn-container ul {
    position: fixed;
    top: 69px;
    background-color: #ffe600;
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }
}

.slider-container {
  height: 90vh;
  width: 100%;
  position: relative;
  margin-top: 57px;
  overflow: hidden;
}
.slider-container .prev,
.slider-container .next {
  color: #000;
}
.slider-container .prev:hover,
.slider-container .next:hover {
  color: #fff;
  background-color: #000;
  transition: all 0.5s ease-in;
}
.slider-container .dot {
  background-color: #000;
}
.slider-container .dot:hover {
  background-color: #dddddd;
}
.slider-container .active-dot {
  background-color: #dddddd;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: 85vh;
  width: 100%;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.prev,
.next {
  color: transparent;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}
.prev.next,
.next.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 90%;
  justify-content: center;
  z-index: 200;
}
.all-dots .dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0px 3px;
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
}
.all-dots .dot:hover {
  background-color: #4338ca;
}
.all-dots .active-dot {
  background-color: #dddddd;
}

.play-pause {
  color: #000;
}

.categories .title {
  text-align: center;
  font-size: 20px;
  color: #2d2c2c;
  padding: 30px 0;
}
.categories .categories-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 100%;
}
.categories .categories-container .categories-card {
  cursor: pointer;
}
.categories .categories-container .categories-card h2 {
  padding-top: 10px;
}
.categories .categories-container .categories-card h2:hover {
  color: #13c7df;
}
.categories .categories-container .categories-card .img-box {
  height: 210px;
  width: 210px;
  background-color: #dddddd;
  overflow: hidden;
  border-radius: 100px;
}
.categories .categories-container .categories-card .img-box img {
  height: 140px;
  width: 140px;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  margin-top: 25px;
  transition: 0.5s;
}
.categories .categories-container .categories-card .img-box img:hover {
  transform: scale(1.2);
}

.products-filter {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.dropdown {
  width: 300px;
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 15px 20px;
  background-color: #13c7df;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  padding: 15px;
  background-color: #13c7df;
  font-weight: 500;
  color: #fff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #ffe600;
  border-radius: 30px;
  color: #4338ca;
}

.slider {
  width: 100%;
  height: 10px;
  background-color: #13c7df;
}

.products {
  position: relative;
}
.products .title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.products hr {
  width: 60%;
  background-color: #dddddd;
  height: 1px;
  margin-top: 100px;
}
.products .shop-container {
  margin-top: 30px;
}
.products .shop-container .product-cart {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

.item-card {
  width: 400px;
  max-height: 470px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 20px;
  border: 2px solid #13c7df;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
  border-radius: 10px;
}
.item-card img {
  width: 200px;
  height: 250px;
  max-width: 15rem;
}
.item-card h5 {
  font-weight: 500;
  margin: 1rem 0 1rem;
  font-size: 14px;
  text-transform: capitalize;
  color: #000;
}
.item-card p {
  color: #64748b;
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 0.7rem;
}
.item-card .price {
  text-align: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  color: #4338ca;
}
.item-card .price span {
  font-weight: 600;
}
.item-card .rating {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.item-card .rating a {
  color: #ffe600;
}
.item-card .card-buttons {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
.item-card .card-buttons .btn {
  width: 120px;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.5rem;
  letter-spacing: 0;
  background-color: #13c7df;
  color: #fff;
  border-radius: 10px;
  margin-top: 0.5rem;
}
.item-card .card-buttons .btn:hover {
  background-color: #ffe600;
  color: #4338ca;
}
.item-card .card-icons {
  width: 40px;
  height: 60px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  transform: translateX(200%);
  transition: all 0.2s;
}
.item-card .card-icons a {
  font-size: 1.1rem;
  color: #fff;
  padding: 0.4rem;
  line-height: 1;
  border: 1px solid #ffe600;
  border-radius: 10px;
  border-color: #13c7df;
  background: #13c7df;
}
.item-card .card-icons a:hover {
  border-color: #ffe600;
  background: #ffe600;
}
.item-card .card-icons .eye-icon {
  font-size: 1.3rem;
}
.item-card:hover .card-icons {
  transform: translateX(0);
}
.item-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info-section {
  margin-top: 100px;
  width: 100%;
  min-height: 85vh;
  background-color: #dddddd;
  position: relative;
  padding: 3rem;
  overflow: hidden;
}
.info-section h2 {
  margin-bottom: 60px;
  text-align: center;
  transform: translateY(-200%);
  color: #000;
}
.info-section h2.topToBottom {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.8s all ease;
}
.info-section .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-section .left {
  width: 50%;
  transform: translateX(-100%);
  transition: 0.8s all ease;
}
.info-section .left img {
  width: 80%;
  border-radius: 10px;
}
.info-section .left.leftToRight {
  opacity: 1;
  transform: translateX(0%);
}
.info-section .right {
  width: 50%;
  transform: translateX(100%);
  padding: 3rem;
  text-align: center;
  transition: 0.8s all ease;
}
.info-section .right h3 {
  color: #4338ca;
}
.info-section .right p {
  margin-top: 1rem;
  color: #4338ca;
}
.info-section .right.rightToLeft {
  opacity: 1;
  transform: translateX(0%);
}
.info-section .popup {
  opacity: 1;
  animation: popup 0.8s ease-in;
}
.info-section .fade_out {
  opacity: 1;
  animation: fade_out 0.8s ease-in;
}
@keyframes popup {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade_out {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

.benefits {
  margin-top: 100px;
  padding: 0 50px;
  width: 100%;
}
.benefits .container-box {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.benefits .container-box .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  padding: 10px 20px;
  display: flex;
  background-color: #13c7df;
  width: 300px;
  height: 100px;
  border-radius: 5px;
}
.benefits .container-box .box .icon {
  color: #fff;
  font-size: 40px;
}
.benefits .container-box .box .detail h4 {
  color: #2d2c2c;
}
.benefits .container-box .box .detail p {
  font-size: 15px;
  color: #dddddd;
}

.accordion .title {
  color: #4338ca;
  font-weight: 700;
  padding-top: 8rem;
  text-align: center;
}
.accordion .flex {
  display: flex;
  justify-content: center;
}
.accordion .secContainer .single-container {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  cursor: pointer;
}
.accordion .secContainer .single-container .heading {
  display: flex;
  font-size: 0.95rem;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  background-color: #ffe600;
}
.accordion .secContainer .single-container .heading .headingIcon {
  cursor: pointer;
  z-index: 100;
}
.accordion .secContainer .single-container .heading .headingIcon .icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #000;
  transition: all 0.5s ease;
}
.accordion .secContainer .single-container .heading .headingIcon .rotate {
  transform: rotate(180deg);
}
.accordion .secContainer .description {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  line-height: 23px;
  white-space: pre-line;
  height: 0;
  opacity: 0;
  padding: 0 1rem;
  color: #000;
  border-radius: 0 0 10px 10px;
  background-color: #13c7df;
}
.accordion .secContainer .show {
  height: 140px;
  opacity: 1;
}
.accordion .secContainer .activeTitle {
  background-color: #4338ca;
  border-radius: 10px 10px 0 0;
}

.allproducts {
  position: relative;
}
.allproducts h2 {
  margin-top: 20px;
}
.allproducts .all-container {
  display: flex;
  padding: 30px 40px;
  width: 100%;
}
.allproducts .all-container h2 {
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  color: #2d2c2c;
}
.allproducts .all-container p {
  margin-top: 10px;
  color: #64748b;
}
.allproducts .all-container hr {
  width: 60%;
  background-color: #dddddd;
  height: 1px;
  margin-top: 100px;
}
.allproducts .all-container .filter {
  padding: 20px 0;
  margin-right: 50px;
}
.allproducts .all-container .filter .categories h3 {
  margin-top: 10px;
  color: #2d2c2c;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.allproducts .all-container .filter .categories ul {
  margin-top: 10px;
}
.allproducts .all-container .filter .categories ul li {
  margin-top: 20px;
  color: #2d2c2c;
  cursor: pointer;
}
.allproducts .all-container .filter .categories ul li:hover {
  color: #4338ca;
}
.allproducts .all-container .allproducts-content {
  position: relative;
  margin-top: 30px;
}
.allproducts .all-container .allproducts-content .product-cart {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}
.allproducts .all-container .allproducts-content .product-cart .item-card {
  width: 400px;
  height: 500px;
  text-align: center;
  padding: 1rem;
  margin: 0 10px 20px 0;
  border: 2px solid #13c7df;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
  border-radius: 10px;
}
.allproducts .all-container .allproducts-content .product-cart .item-card img {
  width: 180px;
  height: 230px;
  max-width: 15rem;
}
.allproducts .all-container .allproducts-content .product-cart .item-card h5 {
  font-weight: 500;
  margin: 1rem 0 0.5rem;
  font-size: 14px;
  text-transform: capitalize;
  color: #000;
}
.allproducts .all-container .allproducts-content .product-cart .item-card p {
  color: #64748b;
  text-transform: capitalize;
  font-size: 14px;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .price {
  text-align: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  color: #4338ca;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .price span {
  font-weight: 600;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .rating {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .rating a {
  color: #ffe600;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-buttons {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-buttons .btn {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.5rem;
  letter-spacing: 0;
  background-color: #13c7df;
  color: #fff;
  border-radius: 10px;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-buttons .btn:hover {
  background-color: #ffe600;
  color: #4338ca;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-buttons p {
  color: #13c7df;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-icons {
  width: 40px;
  height: 60px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  transform: translateX(200%);
  transition: all 0.2s;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-icons a {
  font-size: 1.1rem;
  color: #fff;
  padding: 0.4rem;
  line-height: 1;
  border: 1px solid #ffe600;
  border-radius: 10px;
  border-color: #13c7df;
  background: #13c7df;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-icons a:hover {
  border-color: #ffe600;
  background: #ffe600;
}
.allproducts .all-container .allproducts-content .product-cart .item-card .card-icons .eye-icon {
  font-size: 1.3rem;
}
.allproducts .all-container .allproducts-content .product-cart .item-card:hover .card-icons {
  transform: translateX(0);
}
.allproducts .all-container .allproducts-content .product-cart .item-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.product-detail .detail-container {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  width: 90%;
  height: 380px;
  max-width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.product-detail .detail-container .btn-close {
  position: absolute;
  top: 10;
  right: 20px;
}
.product-detail .detail-container .btn-close .icon {
  font-size: 25px;
}
.product-detail .detail-container .btn-close .icon:hover {
  color: #ff0000;
}
.product-detail .detail-container .productbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.product-detail .detail-container .productbox .img-box img {
  width: 200px;
  height: 250px;
  border-radius: 4px;
}
.product-detail .detail-container .productbox .detail {
  margin-left: 30px;
}
.product-detail .detail-container .productbox .detail h4 {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.product-detail .detail-container .productbox .detail h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.product-detail .detail-container .productbox .detail h3 {
  color: #13c7df;
  font-size: 16px;
  margin-bottom: 20px;
}
.product-detail .detail-container .productbox .detail button {
  background: #13c7df;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.product-detail .detail-container .productbox .detail button:hover {
  background-color: #ffe600;
  color: #4338ca;
  transition: 0.5s;
}

.shopping-cart {
  margin-top: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.shopping-cart .emptycart h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 30px;
}
.shopping-cart .emptycart .empty-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #13c7df;
  border-radius: 10px;
}
.shopping-cart .emptycart .empty-btn:hover {
  background-color: #ffe600;
  transition: 0.2s;
}
.shopping-cart .cart-container .content {
  max-width: 100%;
  padding: 20px 30px;
}
.shopping-cart .cart-container .content .cart-item {
  padding: 20px 30px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #4338ca;
  width: 700px;
}
.shopping-cart .cart-container .content .cart-item .image-box {
  padding: 20px 30px;
}
.shopping-cart .cart-container .content .cart-item .image-box img {
  width: 150px;
  height: 180px;
}
.shopping-cart .cart-container .content .cart-item .detail {
  margin-left: 20px;
  display: flex;
  margin-top: 30px;
  padding: 20px 30px;
}
.shopping-cart .cart-container .content .cart-item .detail .info h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #64748b;
}
.shopping-cart .cart-container .content .cart-item .detail .info h3 {
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
.shopping-cart .cart-container .content .cart-item .detail .info p {
  margin-top: 10px;
  letter-spacing: 1px;
}
.shopping-cart .cart-container .content .cart-item .detail .info .qty {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.shopping-cart .cart-container .content .cart-item .detail .info .qty .inc,
.shopping-cart .cart-container .content .cart-item .detail .info .qty .dec {
  padding: 10px;
  outline: none;
  border: none;
  color: #13c7df;
  font-size: 32px;
  cursor: pointer;
}
.shopping-cart .cart-container .content .cart-item .detail .info .qty input {
  border: none;
  outline: none;
  background-color: none;
  font-size: 22px;
  width: 50px;
  padding: 15px;
}
.shopping-cart .cart-container .content .cart-item .detail .info .subtotal {
  font-size: 18px;
  margin-top: 10px;
  color: #4338ca;
}
.shopping-cart .cart-container .content .cart-item .close .close-icon {
  font-size: 22px;
}
.shopping-cart .cart-container .content .cart-item .close button:hover {
  border: none;
  outline: none;
  color: #ff0000;
  cursor: pointer;
}
.shopping-cart .cart-container .totalprice {
  font-size: 24px;
  margin-top: 20px;
  color: #4338ca;
}
.shopping-cart .cart-container .checkout {
  padding: 10px 20px;
  background-color: #13c7df;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}
.shopping-cart .cart-container .checkout:hover {
  background-color: #ffe600;
  transition: 0.2s;
}

.shopping-favorite {
  margin-top: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.shopping-favorite .emptyfavorite h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 30px;
}
.shopping-favorite .emptyfavorite .empty-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #13c7df;
  border-radius: 10px;
}
.shopping-favorite .emptyfavorite .empty-btn:hover {
  background-color: #ffe600;
  transition: 0.2s;
}
.shopping-favorite .favorite-container {
  text-align: center;
}
.shopping-favorite .favorite-container .content {
  max-width: 100%;
  padding: 20px 30px;
}
.shopping-favorite .favorite-container .content .favorite-item {
  padding: 20px 30px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #4338ca;
  width: 700px;
}
.shopping-favorite .favorite-container .content .favorite-item .image-box {
  padding: 20px 30px;
}
.shopping-favorite .favorite-container .content .favorite-item .image-box img {
  width: 150px;
  height: 180px;
}
.shopping-favorite .favorite-container .content .favorite-item .detail {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px 30px;
}
.shopping-favorite .favorite-container .content .favorite-item .detail .info h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #64748b;
}
.shopping-favorite .favorite-container .content .favorite-item .detail .info h3 {
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
.shopping-favorite .favorite-container .content .favorite-item .detail .info p {
  margin-top: 20px;
  letter-spacing: 1px;
  color: #4338ca;
  font-weight: 500;
}
.shopping-favorite .favorite-container .content .favorite-item .detail .addtocart button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #13c7df;
  border-radius: 10px;
  color: #fff;
}
.shopping-favorite .favorite-container .content .favorite-item .detail .addtocart button:hover {
  background-color: #ffe600;
  transition: 0.2s;
}
.shopping-favorite .favorite-container .content .favorite-item .close .close-icon {
  font-size: 22px;
}
.shopping-favorite .favorite-container .content .favorite-item .close button:hover {
  border: none;
  outline: none;
  color: #ff0000;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */