@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
  padding: 1rem;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.container {
  width: 90%;
  margin-inline: auto;
  max-width: 1920px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
}

header .tn-container .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #efefef;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 0;
}
header .tn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
  width: 90%;
  margin-inline: auto;
  max-width: 1920px;
}
@media screen and (max-width: 768px) {
  header .tn-container {
    justify-content: flex-start;
    margin-left: 20px;
  }
}
header .tn-container .logo {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  padding: 0 0.4rem;
  letter-spacing: 0.1rem;
  color: #4338ca;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  header .tn-container .logo {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .tn-container .logo {
    display: none;
  }
}
header .tn-container .search-box {
  position: relative;
  width: 450px;
  border: 2px solid #fffb00;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  header .tn-container .search-box {
    width: 200px;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .tn-container .search-box {
    margin-left: 0;
  }
}
header .tn-container .search-box input {
  width: 100%;
  font-size: 13px;
  height: 26px;
  border: none;
  outline: none;
  border-radius: 30px;
}
header .tn-container .search-box input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
@media screen and (max-width: 768px) {
  header .tn-container .search-box input {
    font-size: 11px;
  }
}
header .tn-container .search-box .search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  width: 43px;
  height: 41px;
  position: absolute;
  border: none;
  top: 0px;
  right: 0;
  transform: scale(0.9);
  border-radius: 50px;
  background-color: #fffb00;
}
header .tn-container .search-box .search-icon .srch {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #4338ca;
}
@media (max-width: 768px) {
  header .tn-container .search-box .search-icon {
    position: absolute;
  }
}
header .tn-container .tn-icons {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  header .tn-container .tn-icons {
    margin-left: 30px;
  }
}
header .tn-container .tn-icons a {
  font-size: 1.3rem;
}
header .tn-container .tn-icons .fav-icon,
header .tn-container .tn-icons .cart-icon {
  position: relative;
  color: #4338ca;
}
header .tn-container .tn-icons .fav-icon:hover,
header .tn-container .tn-icons .cart-icon:hover {
  color: #fffb00;
}
header .tn-container .tn-icons .count {
  position: absolute;
  top: -0.8rem;
  right: -0.6rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 3px;
  color: #ff0000;
  background-color: #fffb00;
  border-radius: 50px;
  padding: 0px 5px;
}
header .tn-container .tn-icons .cart-user {
  display: flex;
  color: #4338ca;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 4px;
}
header .tn-container .tn-icons .cart-user .user {
  font-size: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .tn-container .tn-icons .cart-user .user {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .tn-container .tn-icons .cart-user .user {
    display: none;
  }
}
header .tn-container .menu-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #29335c;
  color: #eee;
}
header .tn-container .menu-section nav {
  display: flex;
  align-items: center;
}
header .tn-container .menu-section nav a {
  margin: 0 1rem;
  color: #eee;
  text-decoration: none;
}
header .tn-container .menu-section nav a:hover {
  color: #db2b39;
}
header .tn-container .menu-section nav .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #eee;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

footer {
  background-color: #2d2c2c;
  padding: 70px 0;
  margin-top: 10rem;
  /* responsive */
}
footer .row {
  display: flex;
  flex-wrap: wrap;
}
footer ul {
  list-style: none;
}
footer .footer-col {
  width: 25%;
  padding: 0 15px;
}
footer .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fffb00;
  height: 2px;
  box-sizing: border-box;
  width: 110px;
}
footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
footer .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
footer .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
footer .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
footer .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  footer .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  footer .footer-col {
    width: 100%;
  }
}

.menu .nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .menu .nav-links {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu .nav-links {
    width: 250px;
    font-size: 14px;
    margin: 0 30px;
  }
}
.menu li {
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .menu li {
    color: white;
    text-align: center;
    padding: 22px;
    width: 100%;
    transition: all 0.5s ease;
  }
}
.menu .nav-links-mobile {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .menu .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background: #4338ca;
    left: 0;
    top: 47px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
}
.menu .mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 25px;
    color: #4338ca;
    border: none;
    top: 15px;
    right: 20px;
  }
}

.banner-container {
  margin-top: 55px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.banner-container .banner {
  width: 100vw;
  height: 650px;
  position: relative;
}
.banner-container .banner .banner-main {
  display: flex;
  width: 400vw;
  height: 100%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}
@media screen and (max-width: 768px) {
  .banner-container .banner .banner-main {
    width: 100vw;
  }
}
.banner-container .banner .banner-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-container .banner .arrow-section {
  display: flex;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  bottom: 5rem;
}
.banner-container .banner .arrow-section .arrow-left,
.banner-container .banner .arrow-section .arrow-right {
  width: 3.5rem;
  height: 3rem;
  border: 2px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
  color: #fff;
}
.banner-container .banner .arrow-section .arrow-left:hover,
.banner-container .banner .arrow-section .arrow-right:hover {
  cursor: pointer;
  background-color: #64748b;
  color: #000;
}
.banner-container .banner .arrow-section .arrow-left:active,
.banner-container .banner .arrow-section .arrow-right:active {
  background-color: #4338ca;
}

.categories h1 {
  text-align: center;
  color: #4338ca;
  padding: 40px;
  font-size: 40px;
}
.categories .categories-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 100%;
}
.categories .categories-container .categories-card h2 {
  color: #2d2c2c;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .categories .categories-container .categories-card h2 {
    font-size: 15px;
  }
}
.categories .categories-container .categories-card .img-box {
  height: 210px;
  width: 210px;
  background-color: #efefef;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .categories .categories-container .categories-card .img-box {
    width: 100px;
    height: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .categories .categories-container .categories-card .img-box {
    width: 140px;
    height: 140px;
  }
}
.categories .categories-container .categories-card .img-box img {
  height: 150px;
  width: 140px;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  margin-top: 25px;
}
.categories .categories-container .categories-card .img-box img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .categories .categories-container .categories-card .img-box img {
    width: 60px;
    height: 70px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .categories .categories-container .categories-card .img-box img {
    width: 80px;
    height: 90px;
  }
}

.product-category-container {
  margin-top: 90px;
}
.product-category-container h2 {
  margin-bottom: 50px;
  text-align: center;
}
.product-category-container .product-cart-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.price-filter {
  text-align: center;
}
.price-filter h4 {
  margin-bottom: 10px;
  color: #000;
}
.price-filter select {
  width: 230px;
  padding: 8px 0 8px 40px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  color: #808080;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .price-filter select {
    width: 200px;
  }
}
.price-filter select:focus {
  border-color: #007bff;
}
.price-filter select .select-items {
  font-size: 14px;
  border-radius: 2px;
  height: 50px;
}
.price-filter select .select-items:hover {
  background-color: #93c1ff;
}

.category-filter {
  text-align: center;
}
.category-filter h4 {
  margin-bottom: 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .category-filter .css-1s7safq-container {
    width: 230px;
  }
}

.products {
  position: relative;
}
.products .title-filter h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .products .title-filter h1 {
    font-size: 18px;
  }
}
.products hr {
  width: 60%;
  background-color: #ccc;
  height: 1px;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .products hr {
    margin-top: 40px;
  }
}
.products .shop-container {
  margin-top: 30px;
}
.products .shop-container .product-cart {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}
.products .products-filter {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .products .products-filter {
    margin-top: 30px;
  }
}

.item-card {
  width: 400px;
  height: 500px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 20px;
  border: 2px solid #13c7df;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
  border-radius: 10px;
}
.item-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item-card:hover .card-icons {
  transform: translateX(0);
}
.item-card img {
  width: 200px;
  height: 250px;
  max-width: 15rem;
}
.item-card h5 {
  font-weight: 500;
  margin: 1rem 0 1rem;
  font-size: 14px;
  text-transform: capitalize;
  color: #000;
}
.item-card p {
  color: #64748b;
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 0.7rem;
}
.item-card .price {
  text-align: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  color: #4338ca;
}
.item-card .price span {
  font-weight: 600;
}
.item-card .rating {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.item-card .rating a {
  color: #fffb00;
}
.item-card .card-buttons button {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 8px 12px;
  letter-spacing: 0;
  background-color: #13c7df;
  color: #fff;
  border-radius: 10px;
  margin-top: 0.5rem;
}
.item-card .card-buttons button:hover {
  background-color: #fffb00;
  color: #4338ca;
  border: 1px solid #ccc;
  transition: 0.2s;
}
.item-card .card-buttons p {
  font-weight: 500;
  font-size: 17px;
  color: #1adb21;
  margin-top: 20px;
}
.item-card .card-icons {
  width: 40px;
  height: 60px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  transform: translateX(200%);
  transition: all 0.2s;
}
.item-card .card-icons a {
  font-size: 1.1rem;
  color: #fff;
  padding: 0.4rem;
  line-height: 1;
  border: 1px solid #fffb00;
  border-radius: 10px;
  border-color: #13c7df;
  background: #13c7df;
}
.item-card .card-icons a:hover {
  border-color: #fffb00;
  background: #fffb00;
  color: #64748b;
}
.item-card .card-icons .eye-icon {
  font-size: 1.3rem;
}

.info-section {
  margin-top: 100px;
  width: 100%;
  min-height: 85vh;
  background-color: #efefef;
  position: relative;
  padding: 3rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .info-section {
    display: none;
  }
}
.info-section h1 {
  margin-bottom: 60px;
  text-align: center;
  transform: translateY(-200%);
  color: #000;
}
.info-section h1.topToBottom {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.8s all ease;
}
.info-section .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-section .left {
  width: 50%;
  transform: translateX(-100%);
  transition: 0.8s all ease;
}
.info-section .left img {
  width: 80%;
  border-radius: 10px;
}
.info-section .left.leftToRight {
  opacity: 1;
  transform: translateX(0%);
}
.info-section .right {
  width: 50%;
  transform: translateX(100%);
  padding: 3rem;
  text-align: center;
  transition: 0.8s all ease;
}
.info-section .right h3 {
  color: #4338ca;
}
.info-section .right p {
  margin-top: 1rem;
  color: #4338ca;
}
.info-section .right.rightToLeft {
  opacity: 1;
  transform: translateX(0%);
}
.info-section .popup {
  opacity: 1;
  animation: popup 0.8s ease-in;
}
.info-section .fade_out {
  opacity: 1;
  animation: fade_out 0.8s ease-in;
}
@keyframes popup {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade_out {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

.benefits {
  margin-top: 100px;
  padding: 0 50px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .benefits {
    margin-top: 10px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .benefits {
    justify-content: space-around;
  }
}
.benefits .container-box {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .benefits .container-box {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .benefits .container-box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.benefits .container-box .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  padding: 10px 20px;
  display: flex;
  background-color: #13c7df;
  width: 300px;
  height: 100px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .benefits .container-box .box {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .benefits .container-box .box {
    margin-bottom: 20px;
  }
}
.benefits .container-box .box .icon {
  color: #fff;
  font-size: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .benefits .container-box .box .icon {
    font-size: 30px;
  }
}
.benefits .container-box .box .detail h3 {
  color: #2d2c2c;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .benefits .container-box .box .detail h3 {
    font-size: 15px;
  }
}
.benefits .container-box .box .detail p {
  font-size: 15px;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .benefits .container-box .box .detail p {
    font-size: 14px;
  }
}

.accordion {
  z-index: 1000;
}
.accordion .title {
  color: #4338ca;
  font-weight: 700;
  margin-top: 8rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .accordion .title {
    margin-top: 3rem;
  }
}
.accordion .flex {
  display: flex;
  justify-content: center;
}
.accordion .secContainer .single-container {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  cursor: pointer;
}
.accordion .secContainer .single-container .heading {
  display: flex;
  font-size: 0.95rem;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  background-color: #fffb00;
}
.accordion .secContainer .single-container .heading .headingIcon {
  cursor: pointer;
  z-index: 100;
}
.accordion .secContainer .single-container .heading .headingIcon .icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #000;
  transition: all 0.5s ease;
}
.accordion .secContainer .single-container .heading .headingIcon .rotate {
  transform: rotate(180deg);
}
.accordion .secContainer .description {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  line-height: 23px;
  white-space: pre-line;
  height: 0;
  opacity: 0;
  padding: 0 1rem;
  color: #000;
  border-radius: 0 0 10px 10px;
  background-color: #13c7df;
}
.accordion .secContainer .show {
  height: 140px;
  opacity: 1;
}
.accordion .secContainer .activeTitle {
  background-color: #4338ca;
  border-radius: 10px 10px 0 0;
}

.allproducts {
  position: relative;
}
.allproducts h2 {
  margin-top: 70px;
}
.allproducts .all-container {
  display: flex;
  padding: 0 20px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .allproducts .all-container {
    flex-direction: column;
  }
}
.allproducts .all-container h2 {
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  color: #2d2c2c;
}
.allproducts .all-container p {
  margin-top: 10px;
}
.allproducts .all-container hr {
  width: 60%;
  background-color: #efefef;
  height: 1px;
  margin-top: 100px;
}
.allproducts .all-container .filter {
  padding: 20px 0;
}
.allproducts .all-container .filter .categories {
  width: 170px;
}
.allproducts .all-container .filter .categories h3 {
  margin-top: 10px;
  color: #4338ca;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.allproducts .all-container .filter .categories ul {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .allproducts .all-container .filter .categories ul {
    display: flex;
    flex-direction: row;
  }
}
.allproducts .all-container .filter .categories ul li {
  margin-top: 20px;
  color: #2d2c2c;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .allproducts .all-container .filter .categories ul li {
    margin: 0 7px;
  }
}
.allproducts .all-container .filter .categories ul li button:hover {
  color: #4338ca;
  transform: scale(1.1);
}
.allproducts .all-container .allproducts-content {
  position: relative;
  margin-top: 30px;
}
.allproducts .all-container .allproducts-content .product-cart {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

.product-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.product-detail .detail-container {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  width: 90%;
  height: 380px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.product-detail .detail-container .btn-close {
  position: absolute;
  top: 10;
  right: 20px;
}
.product-detail .detail-container .btn-close .icon {
  font-size: 25px;
}
.product-detail .detail-container .btn-close .icon:hover {
  color: #ff0000;
}
.product-detail .detail-container .productbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.product-detail .detail-container .productbox .img-box img {
  width: 200px;
  height: 250px;
  border-radius: 4px;
}
.product-detail .detail-container .productbox .detail {
  margin-left: 30px;
}
.product-detail .detail-container .productbox .detail h4 {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.product-detail .detail-container .productbox .detail h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.product-detail .detail-container .productbox .detail h3 {
  color: #13c7df;
  font-size: 16px;
  margin-bottom: 20px;
}
.product-detail .detail-container .productbox .detail button {
  background: #13c7df;
  color: #fff;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.product-detail .detail-container .productbox .detail button:hover {
  background-color: #2edcf3;
  transition: 0.5s;
  transform: scale(1.1);
}
.product-detail .detail-container .productbox .detail p {
  color: #1adb21;
}

.cart-container .emptycart {
  margin-top: 16rem;
  text-align: center;
}
.cart-container .emptycart h1 {
  margin-bottom: 35px;
  letter-spacing: 5px;
}
.cart-container .emptycart .empty-btn {
  padding: 10px 20px;
  background-color: #13c7df;
  border-radius: 8px;
}
.cart-container .emptycart .empty-btn:hover {
  background: #2edcf3;
  transition: 0.2s;
}
.cart-container .cart-main {
  width: 100%;
  height: 15rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .cart-container .cart-main {
    flex-direction: column;
  }
}
.cart-container .cart-main .checkout {
  background-color: #efefef;
  width: 33.333333%;
  height: 100vh;
  padding: 1.5rem;
}
@media screen and (max-width: 768px) {
  .cart-container .cart-main .checkout {
    width: 100%;
  }
}
.cart-container .cart-main .checkout .checkout-content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}
.cart-container .cart-main .checkout .checkout-content h2 {
  font-size: 1.5rem;
}
.cart-container .cart-main .checkout .checkout-content .shipping {
  display: flex;
  align-items: start;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.cart-container .cart-main .checkout .checkout-content .shipping span {
  font-size: 1rem;
}
.cart-container .cart-main .checkout .checkout-content p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 10px;
}
.cart-container .cart-main .checkout .checkout-content p span {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.cart-container .cart-main .checkout .total-price {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.cart-container .cart-main .checkout .total-price span {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}
.cart-container .cart-main .checkout button {
  margin-top: 20px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background: #000;
  color: #fff;
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 5px;
}
.cart-container .cart-main .checkout button:hover {
  background-color: #64748b;
  color: #000;
  transition-duration: 300ms;
}
.cart-container .cart-main .checkout .purchase {
  text-align: center;
  margin-top: 40px;
  color: #4338ca;
  font-size: 15px;
  font-weight: 500;
}
.cart-container .cart-main .cart-items {
  width: 66.666667%;
  padding-right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .cart-container .cart-main .cart-items {
    width: 100%;
  }
}
.cart-container .cart-main .cart-items .cart-main {
  width: 100%;
}
.cart-container .cart-main .cart-items h2 {
  margin-left: 15px;
  font-size: 1.5rem;
  line-height: 2rem;
}
.cart-container .cart-main .cart-items .cart-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 3rem;
}
.cart-container .cart-main .cart-items .cart-products .close-icon {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #64748b;
  margin-right: 1rem;
}
.cart-container .cart-main .cart-items .cart-products .close-icon:hover {
  color: #ff0000;
  cursor: pointer;
  transition-duration: 300ms;
}
.cart-container .cart-main .cart-items .cart-products img {
  width: 8rem;
  height: 9.5rem;
}
@media screen and (max-width: 768px) {
  .cart-container .cart-main .cart-items .cart-products img {
    width: 5rem;
    height: 6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cart-container .cart-main .cart-items .cart-products img {
    width: 5rem;
    height: 6rem;
  }
}
.cart-container .cart-main .cart-items .cart-products .cartitem-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart-container .cart-main .cart-items .cart-products h4 {
  font-weight: 500;
  width: 13rem;
}
@media screen and (max-width: 768px) {
  .cart-container .cart-main .cart-items .cart-products h4 {
    font-size: 14px;
  }
}
.cart-container .cart-main .cart-items .cart-products p {
  width: 2.5rem;
}
.cart-container .cart-main .cart-items .cart-products .buttons-box {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 14px;
  font-weight: 300;
}
.cart-container .cart-main .cart-items .cart-products .buttons-box button {
  border: 1px solid #ccc;
  height: 1.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  cursor: pointer;
  transition-duration: 300ms;
  border-radius: 4px;
}
.cart-container .cart-main .cart-items .cart-products .buttons-box button:hover {
  background: #64748b;
  color: #fff;
}
.cart-container .cart-main .cart-items .cart-products .buttons-box button:active {
  background: #000;
}
.cart-container .cart-main .cart-items .cart-products .buttons-box .trash-icon {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #64748b;
}
.cart-container .cart-main .cart-items .cart-products .buttons-box .trash-icon:hover {
  color: #ff0000;
  cursor: pointer;
  transition-duration: 300ms;
}
.cart-container .cart-main .cart-items .cart-products .total-qty {
  width: 3.5rem;
}
.cart-container .cart-main .cart-items .reset {
  background: #ff0000;
  font-size: 14px;
  color: #fff;
  margin-top: 50px;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  transition-duration: 300ms;
  border-radius: 5px;
  margin-bottom: 10px;
}
.cart-container .cart-main .cart-items .reset:hover {
  background: #fd2c2c;
}
.cart-container .cart-main .cart-items .arrow-shop {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}
.cart-container .cart-main .cart-items .arrow-shop .go-shop {
  width: 120px;
  font-size: 13px;
  cursor: pointer;
  color: #64748b;
  margin-left: 6px;
}
.cart-container .cart-main .cart-items .arrow-shop .arrow-icon {
  color: #64748b;
}
@media screen and (max-width: 768px) {
  .cart-container .cart-main .cart-items .arrow-shop {
    margin-bottom: 20px;
  }
}

.shopping-favorite {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .shopping-favorite {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shopping-favorite {
    justify-content: space-around;
  }
}
.shopping-favorite .emptyfavorite {
  margin-top: 15rem;
}
.shopping-favorite .emptyfavorite h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .emptyfavorite h2 {
    font-size: 20px;
  }
}
.shopping-favorite .emptyfavorite .empty-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #13c7df;
  border-radius: 10px;
}
.shopping-favorite .emptyfavorite .empty-btn:hover {
  background-color: #fffb00;
  transition: 0.2s;
}
.shopping-favorite .favorite-items {
  margin-top: 7rem;
  padding-right: 2.5rem;
}
.shopping-favorite .favorite-items .favorite-main {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items .favorite-main {
    display: flex;
  }
}
.shopping-favorite .favorite-items .favorite-main .favorite-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 3rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items .favorite-main .favorite-products {
    gap: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shopping-favorite .favorite-items .favorite-main .favorite-products {
    justify-content: space-around;
  }
}
.shopping-favorite .favorite-items .favorite-main .favorite-products .add-cart {
  background: #13c7df;
  font-size: 14px;
  color: #fff;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  transition-duration: 300ms;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items .favorite-main .favorite-products .add-cart {
    font-size: 10px;
    padding: 0.5rem 1rem;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shopping-favorite .favorite-items .favorite-main .favorite-products .add-cart {
    margin-left: 0.5rem;
    font-size: 12px;
  }
}
.shopping-favorite .favorite-items .favorite-main .favorite-products .add-cart:hover {
  background: #0A2463;
}
.shopping-favorite .favorite-items .favorite-main .favorite-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items .favorite-main .favorite-content {
    width: 8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shopping-favorite .favorite-items .favorite-main .favorite-content {
    justify-content: space-around;
  }
}
.shopping-favorite .favorite-items h2 {
  margin-left: 15px;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items h2 {
    font-size: 1.1rem;
  }
}
.shopping-favorite .favorite-items .close-icon {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #64748b;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items .close-icon {
    margin-right: 0.5rem;
    margin-left: 1rem;
  }
}
.shopping-favorite .favorite-items .close-icon:hover {
  color: #ff0000;
  cursor: pointer;
  transition-duration: 300ms;
}
.shopping-favorite .favorite-items img {
  width: 8rem;
  height: 9.5rem;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items img {
    width: 5rem;
    height: 6rem;
  }
}
.shopping-favorite .favorite-items h4 {
  font-weight: 500;
  width: 13rem;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .favorite-items h4 {
    font-size: 15px;
    width: 8rem;
  }
}
.shopping-favorite .buttons-footer {
  display: flex;
  margin-top: 50px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .buttons-footer {
    display: block;
    margin-top: 30px;
  }
}
.shopping-favorite .buttons-footer .go-shop {
  font-size: 13px;
  cursor: pointer;
  color: #64748b;
  margin-left: 4px;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .buttons-footer .go-shop {
    margin-bottom: 20px;
  }
}
.shopping-favorite .buttons-footer .arrow-icon {
  color: #64748b;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .buttons-footer .arrow-icon {
    padding-top: 15px;
  }
}
.shopping-favorite .buttons-footer .reset {
  background: #ff0000;
  font-size: 14px;
  color: #fff;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  transition-duration: 300ms;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .shopping-favorite .buttons-footer .reset {
    margin-top: 10px;
  }
}
.shopping-favorite .buttons-footer .reset:hover {
  background: #000;
}

.download-section {
  margin-top: 100px;
  width: 100%;
  height: 540px;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
}
.download-section h2 {
  text-align: center;
  color: #000;
}
.download-section .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .download-section .main {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .download-section .main {
    margin-top: 50px;
  }
}
.download-section .main .download-options {
  display: flex;
  justify-content: center;
}
.download-section .main .download-options img {
  width: 200px;
  height: auto;
  padding: 20px;
}
.download-section .left {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .download-section .left {
    width: 100%;
  }
}
.download-section .left img {
  width: 80%;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .download-section .left img {
    margin-left: 40px;
  }
}
.download-section .right {
  width: 50%;
  padding: 0 3rem;
  text-align: center;
  margin-top: -60px;
}
@media screen and (max-width: 768px) {
  .download-section .right {
    width: 100%;
  }
}
.download-section .right h3 {
  color: #000;
}
.download-section .right p {
  color: #000;
}/*# sourceMappingURL=main.css.map */