
// COLORS

    $color-black: #000;
    $color-black-light:#2d2c2c;
    $color-gray-light:#efefef;
    $color-gray-medium:#ccc;
    $color-gray-dark: #64748b;
    $color-white: #fff;
    $color-purple: #4338ca;
    $color-yellow:#ffcc00;
    $color-blue:#13c7df;
    $color-blue-light:#2edcf3;
    $color-blue-dark:#0A2463;
    $color-red:#ff0000;
    $color-red-light:#fd2c2c;


// BORDERS

    $border-1: 1px solid  $color-gray-dark ;
    $border-2: 2px solid $color-yellow;
    $border-radius-50:50px;

  
// MIXIN FUNCTIONS

   @mixin flexAlign{
    display: flex;
    align-items: center;
    justify-content: $justify-content;
   }

   @mixin buttonStyle {
    cursor: pointer;
    font-size: $font-size;
    color: $color;
    background-color:$background-color;
    border-radius:$border-radius;
    transition: all 0.5s ease;
  }

  @mixin headingStyle{
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
  }

  @mixin widthHeight{
    width: $width;
    height: $height;
  }