
// COLORS

    $color-black: #000;
    $color-black-light:#2d2c2c;
    $color-gray-light:#dddddd;
    $color-gray-dark: #64748b;
    $color-white: #fff;
    $color-purple: #4338ca;
    $color-yellow:#ffe600;
    $color-blue:#13c7df;
    $color-blue-dark:#0A2463;
    $color-red:#ff0000;


// BORDERS

   
    $border-1: 1px solid  $color-gray-dark ;
    $border-2: 2px solid $color-yellow;
    $border-radius-50:50px;

  
// SIMILAR CODES

   %align-center{
    display: flex;
    align-items: center;
    justify-content: center;
   } 